<!doctype html>
<script src="/js/question/questionList.js"></script>
<script src="/js/bootstrap.min.js"></script>
<html lang="ko">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="/css/style.css">
	    <title>Study</title>
	</head>	

	<div class="container my-3">
	    <table class="table">
	        <thead class="table-dark">
	            <tr>
	                <th>번호</th>
	                <th>제목</th>
	                <th>작성일시</th>
	            </tr>
	        </thead>
	        <tbody id="question-list">
	        </tbody>
	    </table>
		
		<div id="question-list-paging">
		</div>
		
		<a href="/question/createForm" class="btn btn-primary">질문등록</a>
	</div>
</html>